<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body class="flex w-full h-screen bg-custom-background">
    <ul class="text-6xl text-amber-400">
      <% for (let animal of animals) { %>
        <li><%= animal %>s are cute</li>
      <% } %>
    </ul>
  </body>
</html>
