<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body class="flex w-full h-screen bg-custom-background">
    <div class="flex flex-col justify-center items-center w-full gap-12">
      <div>
        <textarea class="flex w-150 resize-none h-48 bg-white
         rounded-3xl p-4 outline-none" maxlength="200"
         placeholder="Write your message here (max 200 characters)"></textarea>
      </div>
      <div class="flex  w-full justify-center items-center border-red-300">
        <button class=" bg-black text-white h-24 p-4 rounded-2xl
         hover:bg-gray-800">Add a new message</button>
      </div>
    </div>
    </body>

    
</html>
