@import "tailwindcss";
@plugin 'tailwind-scrollbar' {
    nocompatible: true;
    preferredStrategy: 'pseudoelements';
}

.bg-custom-background {
    background: #A51C30;
    background: linear-gradient(180deg, rgba(165, 28, 48, 1) 0%, rgba(247, 187, 57, 1) 50%, rgba(26, 168, 196, 1) 100%);
}


.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
